.cart-item {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin: 0 14px 15px;
  .group-title {
    min-height: 40px;
    padding: 0 10px;
  }
  .checkbox {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100%;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .group-tag {
    border: 1px solid #f21c1c;
    color: #f21c1c;
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 10px;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
  }
  .group-link {
    margin-left: 5px;
    color: #78b;
  }
  .product {
    margin-left: 40px;
    margin-right: 10px;
  }
  .product-item {
    padding: 10px 0;
  }
  .product-checkbox {
    position: absolute !important;
    top: 28px;
    left: -30px;
  }
  .product-img {
    width: 70px;
    height: 70px;
    position: relative;
  }
  .product-name {
    color: #000;
    font-size: 15px;
    font-weight: 500;
  }
  .bind-item {
    line-height: 1.2;
  }
  .checkbox.checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 5px auto;
  }
  .checkbox.checked {
    border-color: rgb(248, 28, 28);
    background: rgb(248, 28, 28);
  }
  .edit-count span.disable {
    color: #ccc;
  }

  .edit-count span.min-count {
    border-radius: 12px 0 0 12px;
  }
  .edit-count span.max-count {
    border-radius: 0 12px 12px 0;
  }
  .edit-count span {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
  }
  .edit-count span:nth-of-type(2) {
    width: 30px;
    background-color: #fff;
  }
}
