.spec-params-wrapper {
  padding-left: 14px;
}
.spec-params .module-header {
  height: 96px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.detail-params {
  .module-title.small {
    font-size: 12px;
    color: #9c9c9c;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .module-title {
    width: 48px;
    white-space: nowrap;
    margin-right: 15px;
    height: 18px;
    line-height: 19px;
  }
}
.spec-params .module-content {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  .spec-params-container {
    overflow: hidden;
    position: absolute;
    left: -11px;
    top: 0;
    height: 96px;
    .spec-params-item {
      float: left;
      height: 96px;
      width: 86px;
      .key {
        margin-top: 5px;
        height: 14px;
        font-size: 14px;
        letter-spacing: normal;
        color: #333;
      }
      .text {
        width: 75px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      img {
        margin-top: 4px;
        width: 22px;
        height: 22px;
        display: block;
      }
    }
  }
}
